<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Karel Code Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='karelography_logo.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount+Prop+Double:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div id="left">
            <div>
            <img id="logo" src = "{{ url_for('static', filename='images/logos/karelography_vertical_banner_transparent.svg') }}">
            <h1>Karelography</h1>
            </div>
            <h2>By <a href="https://github.com/Ash-ioL" target="_blank">Ash-ioL</a></h2>
            <a href="https://github.com/Ash-ioL/karelography" target="_blank"><img id="github" src=" {{ url_for('static', filename='images/logos/github_logo.png') }}"></a>
        </div>
        <div id="right">
            <p>Generate your robot paths</p>
            <ul>
                <li id="one">with ease</li>
                <li id="two">with efficiency</li>
                <li id="three">with amazingness</li>
            </ul>
            <a href="{{ url_for('path')}}">Try Now!</a>
        </div>
    </body>
</html>