<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tool - Karel Code Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='images/logos/karelography_logo.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
    </head>
    <body>
        <div id = "alignment">
            <div id="canvas-container">
                <canvas id="grid" width="1000" height="1000">
                    Your browser does not support the HTML canvas tag.
                </canvas>
            </div>
            <div id="settings">
                <label for="color-selector">Select Robot Color</label>
                <input type="color" id="color-selector">
                <button id="copy-save">Copy Path</button>
                <input type="text" id="load-save" name="load-save">
                <button id="get-code">Get Code</button>
            </div>
        </div>

        <script>
            window.initConfig = {
                imgRoot : "{{ url_for('static', filename='images/game_assets/') }}"
            };
        </script>

        <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}">
            
        </script>
    </body>
</html>

<!--
*****Plan for the panel*****

Features that need to be added:
 - Robot color
 - Buttons for the movement controls & the beeper stuff
 - Code compilaton:
 --- optimization toggle
 --- copy paste get request
 --- map builder
 --- helper functions
 --- path finder?
-->